<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="fr" lang="fr">
	<head>
        <meta charset="utf-8"/>
    	<title>HTML5 et Javascript</title>
    	<link rel="stylesheet" media="all" type="text/css" href="tenuecompte.css">

    	
    </head>
    <body>
        <div ng-app="app">
            <div ng-controller="appCtrl">
                <input ng-model="valeur" placeholder="valeur" />
                <button ng-click="addDepense()">Ajouter dépense</button>
                <p>Liste des dépenses et cumul (pour supprimer : appuyer sur '+')</p>
                <ul>
                    <li ng-repeat="depense in depenses">
                        {{ depense.valeur }} <span ng-click="rmDepense($index)">+</span>
                    </li>
                </ul>
                <strong>Total des dépenses : {{ total }}</strong>
            </div>
        </div>

        <script type="text/javascript" src="tenuecompte.js"></script>
    <footer></footer>
    </body>
</html>